.popup#dotaz_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .image
        = image_tag "women_popup.png"
      .text
        .title
          | Mate nejaký dotaz?
        .description
          | Rada Vám poradim s vyběrem
        .description
          | Pracovní doba: 10:00 - 20:00
        form
          .placeholder
            .icon.phone_3_icon
            | Vaš telefon

          input#dotaz_phone type="text"
          input type="submit" value="ZAVOLEJTE MI"

