footer.section
  .g_row
    .g_col_d_4.g_col_m_12
      .image
        = image_tag "logo.png"

    .g_col_d_4.g_col_m_12.contacts
      .title
        | Omega Invest s.r.o.
      .contact
        .icon.pointer_icon
        .text
          | Poděbradská 195/7, Praha 9, 190 00 
      .contact
        .icon.phone_2_icon
        = link_to "+420 777 092 350", "tel: +420777092350", class: "number"

    .g_col_d_4.no_mobile
      .button
        | Zavolejte mi

.copyright_container.section
  .g_row
    .g_col_d_12.g_col_m_12
      .copyright
        | Copyright <span class="cp_symbol">©</span> 2015. All rights reserverd. Developed by
        = link_to "webfactor", "#"
