header.section
  .g_row
    .g_col_d_4.g_col_m_10
      .logo
        .image
          = image_tag "omega.png"
        .text
          .title
            | Zdravotní matrace
          .description
            | od Českého vyrobce za minimalní ceny
    .g_col_d_2
    .g_col_d_6.g_col_m_2.right_align
      .phone
        .icon.phone_icon
        = link_to "+420 777 092 350", "tel: +420777092350", class: "number"
      .button
        | Zavolejte mi

