.popup#matrace_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .header
        .title
          | Zapsat se na
      .description
        | Vyplntě tento formulař a spojime se s Vama ještě dnes pro upřesnění detailů a potvrzení objednavky
      .delimiter

      form
        .select_field
          .fake_select_box
            .icon.arrows_icon
            .arrow_submit
            .label
              | Vyberte si velikost
          ul.items
            li
              | Vyberte si velikost
            li
              | Vyberte si velikost 1

          = hidden_field_tag "matrace_select"

        .text_field
          .placeholder
            .person_icon.icon
            | Vaše jmeno
          input#matraz_email type="text"

        .text_field
          .placeholder
            .phone_4_icon.icon
            | Vaš telefon
          input#matraz_phone type="text"

        .submit
          input class="button blue_button" type="submit" value="Odeslat"