.popup#obj_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .header
        | Děkujeme za Vaši objednavku!
      .description
        | V nejbližší době Vás budeme kontaktovát pro upřesnění detailu objednavky a doručení
      .button
        | ZAVŘIT