= render "templates/header"

#main_banner.section
  .g_row
    .g_col_d_12.g_col_m_12
      .banner_header
        .header
          .bold
            | AKCE!
          .usual
            |  Vyprodej skladu v Praze
        .delimiter
        .description
          | Objednejte si matrace ted a získejte  dopravu
          b
           | ZDARMA!
        .arrow_icon

#service.section
  .g_row
    .g_col_d_12.g_col_m_12
      .items
        = image_tag "bottom.png", class: "bottom"
        .item
          .image
            = image_tag "s1_image.png"
          .header
            | ZDRAVOTNÍ MATRACE
          .delimiter
          .description
            | Udrží vaše prostředí pro spánek bez roztočů a bakterií, které mohou  vést k alergiím.
          .button_2
            = link_to "#matrac2"
              | UKAZAT
        .item
          .image
            = image_tag "s2_image.png"
          .header
            | PENOVÉ MATRACE
          .delimiter
          .description
            | Udrží vaše prostředí pro spánek bez roztočů a bakterií, které mohou  vést k alergiím.
          .button_2
            = link_to "#matrac1"
              | UKAZAT
        .item
          .image
            = image_tag "s3_image.png"
          .header
            | ORTOPEDICKE MATRACE
          .delimiter
          .description
            | Udrží vaše prostředí pro spánek bez roztočů a bakterií, které mohou  vést k alergiím.
          .button_2
            = link_to "#matrac3"
              | UKAZAT

#advantege
  .g_row.screen_header
    .g_col_d_12
      .header
        | Proč si objednat pravě u nas?
      .description
        | Proč si objednat pravě u nas, proč si objednat pravě u nas

  .g_row.advantages
    .g_col_d_12
      .items
        .item
          .image
            = image_tag "a1_image.png", style: "width: 71%;"
          .text
            .header
              | Nejlepši ceny
            .delimiter
            .description
              | Nejlepši ceny na matrace v Praze
        .item
          .image
            = image_tag "a2_image.png"
          .text
            .header
              | Všechno skladem
            .delimiter
            .description
              | Nejlepši ceny na matrace v Praze
        .item
          .image
            = image_tag "a3_image.png", style: "width: 64%;"
          .text
            .header
              | 100% zaruka kvality
            .delimiter
            .description
              | Nejlepši ceny na matrace v Praze


#small_banner.section
  .g_row
    .g_col_d_6.g_col_m_12.image_cnt
      .image
        = image_tag "track.png"
    .g_col_d_6.g_col_m_12
      .header
        | Pozor AKCE - Doprava  ZDARMA!
      .button_3
        | Plati po cele Praze a jen do
        b
          | 31.12
    .g_col_d_6.g_col_m_12.m_image_cnt
      .image
        = image_tag "track.png"

#screen_header.section
  .g_row

    .g_col_d_12.desktop
      .header
        | Proč si objednat pravě u nas?
      .description
        | Proč si objednat pravě u nas, proč si objednat pravě u nas

    .g_col_m_12.mobile
      .header
        | AKČNÍ NABÍDKA  ZIMA-JARO
        b
          | 2015


#products.section
  .product_card
    .g_row.product#matrac1
      .g_col_d_5.g_col_m_12.image_area
        .mobile_title
          | Pěnová matrace (15cm)
        .image
          .icon.label_icon
          = image_tag "m1_image.png"
        .text
          .header
            | Novinka - zima 2015
          ul
            li
              | Tuhost: H2 - středně měkká           
            li
              | Ekologický čisty matrace
            li
              | Oboustranni matrace!
            li
              | Potah z kvalitniho materialu
            li
              | Tloustka 15 cm
            li
              | Přimo od vyrobce
      .g_col_d_7.g_col_m_12.text_area
        .title
          | Pěnová matrace (15cm)
        .materials
          .header
            | Použite materialy:
          .items
            .item
              .image
                = image_tag "mt1_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt2_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt3_image.png"
              .text
                | Cholofiber
        .prices
          .header
            | Popularní rozměry:
          .link
            = link_to "Ukazat vice rozměru", "#"
            .icon.arrow_bottom_icon
        table.desktop.hidden
          tr
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
          tr.hide
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr.hide
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
        .table_mobile_cnt
          table.mobile.hidden
            tr
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč



        .actions
          .button_4
            | OBJEDNAT SI MATRACE
          .additional
            | Při nakupu do
            b
              | 31.12
            | doprava je
            b
              | ZDARMA!

  .product_card
    .g_row.product#matrac2
      .g_col_d_5.g_col_m_12.image_area
        .mobile_title
          | Pěnová matrace (15cm)
        .image
          = image_tag "m2_image.png"
        .text
          .header
            | Novinka - zima 2015
          ul
            li
              | Tuhost:
              b
                | H2
              |- středně měkká           
            li
              | Ekologický čisty matrace
            li
              | Oboustranni matrace!
            li
              | Potah z kvalitniho materialu
            li
              | Tloustka
              b
                | 15
              | cm
            li
              | Přimo od vyrobce
      .g_col_d_7.g_col_m_12.text_area
        .title
          | Pěnová matrace (15cm)
        .materials
          .header
            | Použite materialy:
          .items
            .item
              .image
                = image_tag "mt1_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt2_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt3_image.png"
              .text
                | Cholofiber
        .prices
          .header
            | Popularní rozměry:
          .link
            = link_to "Ukazat vice rozměru", "#"
            .icon.arrow_bottom_icon
        table.desktop.hidden
          tr
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
          tr.hide
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr.hide
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
        .table_mobile_cnt
          table.mobile.hidden
            tr
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
        .actions
          .button_4
            | OBJEDNAT SI MATRACE
          .additional
            | Při nakupu do
            b
              | 31.12
            | doprava je
            b
              | ZDARMA!

  .product_card
    .g_row.product#matrac3
      .g_col_d_5.g_col_m_12.image_area
        .mobile_title
          | Pěnová matrace (15cm)
        .image
          = image_tag "m3_image.png"
        .text
          .header
            | Novinka - zima 2015
          ul
            li
              | Tuhost: H2 - středně měkká           
            li
              | Ekologický čisty matrace
            li
              | Oboustranni matrace!
            li
              | Potah z kvalitniho materialu
            li
              | Tloustka 15 cm
            li
              | Přimo od vyrobce
      .g_col_d_7.g_col_m_12.text_area
        .title
          | Pěnová matrace (15cm)
        .materials
          .header
            | Použite materialy:
          .items
            .item
              .image
                = image_tag "mt1_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt2_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt3_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt4_image.png"
              .text
                | Cholofiber
            .item
              .image
                = image_tag "mt5_image.png"
              .text
                | Cholofiber
        .prices
          .header
            | Popularní rozměry:
          .link
            = link_to "Ukazat vice rozměru", "#"
            .icon.arrow_bottom_icon
        table.desktop.hidden
          tr
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
          tr.hide
            th
              | 80 cm x 200 cm
            th
              | 90 cm x 200 cm
            th
              | 100 cm x 200 cm
            th
              | 120 cm x 200 cm
          tr.hide
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
            td
              .old_price
                | 2490 Kč
              .new_price
                | 1990 Kč
        .table_mobile_cnt
          table.mobile.hidden
            tr
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 80 cm x 200 cm
              th
                | 90 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
            tr.hide
              th
                | 100 cm x 200 cm
              th
                | 120 cm x 200 cm

            tr.hide
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
              td
                .old_price
                  | 2490 Kč
                .new_price
                  | 1990 Kč
        .actions
          .button_4
            | OBJEDNAT SI MATRACE
          .additional
            | Při nakupu do
            b
              | 31.12
            | doprava je
            b
              | ZDARMA!


#more
  .g_row
    .g_col_d_12
      | Vice našich matrací najdete v našem
      = link_to "internetovém obchodu", "#"

#stars_banner.section
  .g_row
    .g_col_d_12.g_col_m_12
      .header
        | Nevite jakou matrace si vybrat? Radí vam poradime!
      .button
        .icon.question_icon
        | Zeptat se online!
      .description
        | Vice našich matrací najdete  v našem
        = link_to "internetovém obchode.", "#"


#about.section
  .g_row
    .g_col_d_6.g_col_m_12
      .header
        | Jaké vyhody maji naše matrace?
      ul
        li
          .icon.heart_icon
          .text
            | Poskytnou vám optimální oporu, která je potřeba ke skutečně kvalitnímu a bezproblémovému spánku
        li
          .icon.medicine_icon
          .text
            | Pomáháji ulevit od bolesti vyčnívajících částí těla, které jsou během spánku zatěžovány: ramen, kostrče, kyčlí, lýtek a pat.
        li
          .icon.zoom_icon
          .text
            | Udrží vaše prostředí pro spánek bez roztočů a bakterií, které mohou vést k alergiím.
    .g_col_d_6

#reviews.section
  .g_row
    .g_col_d_12.g_col_m_12
      .header
        .title
          | Recenze našich klientů
          .icon.quote_top_icon
          .icon.quote_down_icon
        .description
          | Vyberte si matrace pro sebe!

    .g_col_d_12.g_col_m_12
      .items

        .item
          .cnt
            .image
              = image_tag "p1_image.png"
            .content
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin justo gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin  justo sodales sit pulvinar tempor.
              .person
                .name
                  | Dana Novakova - Praha 9
                .about
                  | Zakoupila si Taštičkovou matrace

        .item
          .cnt
            .image
              = image_tag "p2_image.png"
            .content
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin justo gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin  justo sodales sit pulvinar tempor.
              .person
                .name
                  | Dana Novakova - Praha 9
                .about
                  | Zakoupila si Taštičkovou matrace

        .item
          .cnt
            .image
              = image_tag "p2_image.png"
            .content
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin justo gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin  justo sodales sit pulvinar tempor.
              .person
                .name
                  | Dana Novakova - Praha 9
                .about
                  | Zakoupila si Taštičkovou matrace

        .item
          .cnt
            .image
              = image_tag "p1_image.png"
            .content
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin justo gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin  justo sodales sit pulvinar tempor.
              .person
                .name
                  | Dana Novakova - Praha 9
                .about
                  | Zakoupila si Taštičkovou matrace

#contacts.section
  .g_row
    .g_col_d_6.g_col_m_12.map_block
      .header
        .title
          | Chcete navštivit naši prodejnu osobně?
        .description
          | Při osobním odběru obdržite slevu
          b
            | 5%

      #map
        = link_to "#"
          = image_tag "map.png"

      .address
        | Poděbradská 195/7, Vysočany, 190 00 Praha 9

    .g_col_d_6.g_col_m_12.feedback_form
      .header
        .title
          | Mate nejaký dotaz nebo potřebujete poradit?
        .description
          | Napište nam! Rádi Vam pomužeme!

      .form
        form
          .input_field
            .placeholder
              .icon.mail_icon
              .text
                | VAŠ E-MAIL
            input type="text"

          .textarea_field
            .placeholder
              .icon.message_icon
              .text
                | VAŠ DOTAZ
            textarea

          input.button type="submit" value="ODESLAT"

      .additional
        | Na dotazy odpovídáme nejpozději do večera - 22:00


= render "templates/footer"
= render "templates/dotaz_popup"
= render "templates/obj_popup"
= render "templates/matrace_popup"