/*
*= require normalize-rails
*/

@import "templates/constructions";
@import "templates/grids";
@import "templates/fonts/fonts";

@import "colors";

html,body {
  font-family: 'Ubuntu', sans-serif;
}

.button {
  padding: 7px 60px 7px 60px;
  background-color: $bg_color_1;
  color: $color_4;
  font-size: 16px;
  font-weight: 700;
  @include border_radius(5px, 5px, 5px, 5px);
  @include box_shadow(0, 1px, 2px, 0, $bg_color_2);
  cursor: hand;
}

.button_2 {
  font-size: 16px;
  font-weight: 700;
  color: $color_4;
  cursor: hand;
  padding: 7px 60px 7px 60px;
  background-color: #53a0fd;
  background-image: linear-gradient(180deg, #53a0fd 0%, #4a90e2 100%);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  a {
    color: $color_4;
    text-decoration: none;
  }
}


.button_3 {
  font-size: 16px;
  font-weight: 700;
  color: $color_2;
  cursor: hand;
  padding: 7px 60px 7px 60px;
  background-color: $bg_color_3;
  border: 1px solid #c7933e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  b {
    margin: 0 5px 0 5px;
    color: $bg_color_1;
  }
}

.button_4 {
  font-size: 16px;
  font-weight: 700;
  color: $color_4;
  cursor: hand;
  padding: 7px 60px 7px 60px;
  background-image: linear-gradient(180deg, #fad961 0%, #f76b1c 100%);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.right_align {
  text-align: right;
}

.icon {
  display: inline-block;
  margin-right: 5px;
  position: relative;
}
.phone_icon {
  width: 26px;
  height: 26px;
  background: url(../images/phone_icon.png) no-repeat;
}
.phone_2_icon {
  width: 16px;
  height: 16px;
  background: url(../images/phone_2_icon.png) no-repeat;
}
.pointer_icon {
  width: 14px;
  height: 16px;
  background: url(../images/pointer_icon.png) no-repeat;
}
.arrow_bottom_icon {
   width: 25px;
   height: 25px;
   background: url(../images/arrow_bottom_icon.png) no-repeat;
 }
.arrow_top_icon {
  width: 25px;
  height: 25px;
  background: url(../images/arrow_top_icon.png) no-repeat;
}
.quote_down_icon {
  width: 38px;
  height: 32px;
  background: url(../images/quote_icon.png) no-repeat;
}
.quote_top_icon {
  width: 38px;
  height: 32px;
  background: url(../images/quote_2_icon.png) no-repeat;
}
.zoom_icon {
  width: 62px;
  height: 62px;
  background: url(../images/zoom_icon.png) no-repeat;
}

.heart_icon {
  width: 62px;
  height: 62px;
  background: url(../images/heart_icon.png) no-repeat;
}
.medicine_icon {
  width: 62px;
  height: 62px;
  background: url(../images/medicine_icon.png) no-repeat;
}
.phone_3_icon {
  width: 25px;
  height: 25px;
  background: url(../images/phone_3_icon.png) no-repeat;
}
.mail_icon {
  width: 20px;
  height: 20px;
  background: url(../images/message_icon.png) no-repeat;
}
.message_icon {
  width: 20px;
  height: 20px;
  background: url(../images/point_icon.png) no-repeat;
}
.person_icon {
  width: 15px;
  height: 16px;
  background: url(../images/person_icon.png) no-repeat;
}
.phone_4_icon {
  width: 15px;
  height: 15px;
  background: url(../images/phone_4_icon.png) no-repeat;
}
.arrows_icon {
  width: 15px;
  height: 15px;
  background: url(../images/arrows_icon.png) no-repeat;
}
.arrow_submit {
  width: 14px;
  height: 10px;
  background: url(../images/arrow_2_icon.png) no-repeat;
}
.label_icon {
  width: 103px;
  height: 103px;
  background: url(../images/l1_image.png) no-repeat;
  position: absolute;
  top: 0;
  right: 20px;
}
@media screen and (min-width: 240px) and (max-width: 1140px) {
  .label_icon {
    top: 35px;
    left: 10px;
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}



header {
  padding: 10px 0 10px 0;
  background-color: $bg_color_3;
  .logo {
    .image {
      display: inline-block;
      width: 30px;
      margin-right: 7px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
      display: inline-block;
      .title {
        font-size: 21px;
        font-weight: 700;
        color: $color_1;
      }
      .description {
        font-size: 14px;
        font-weight: 400;
        color: $color_2;
      }
    }
  }
  .phone {
    display: inline-block;
    margin-right: 30px;
    .icon {
      top: 8px;
      margin-right: 15px;
      cursor: hand;
    }
    a {
      position: relative;
      top: 2px;
      font-size: 21px;
      font-weight: 500;
      color: $color_3;
      text-decoration: none;
    }
  }
  .button {
    display: inline-block;
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  header {
    .logo {
      margin-left: 5px;
      .description {
        font-size: 12px !important;
      }
    }
    .phone {
      margin-right: 0 !important;
      .icon {
      }
      a {
        display: none;
      }
    }
    .button {
      display: none !important;
    }
  }
}

footer {
  background-color: $bg_color_5;
  padding: 15px;
  box-sizing: border-box;
  .image {
    width: 55%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .title {
    font-weight: 400;
    font-size: 21px;
    color: $color_4;
  }
  .contact {
    margin: 2px 0 2px 0;
    .icon {
      margin-right: 3px;
      top: 3px;
    }
    .text {
      font-weight: 400;
      font-size: 14px;
      color: $color_4;
      display: inline-block;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      color: $color_4;
      text-decoration: none;
    }
  }
  .button {
    width: 100px;
    padding: 10px 50px 10px 50px;
    margin: 15px 0 0px -10px;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  footer {
    .image {
      margin: 10px auto 10px auto;
    }
    .contacts {
      margin: 10px 0 10px 0;
      text-align: center;
    }
  }
  .copyright_container {
    font-size: 11px;
  }
}

// Footer Copyright

.copyright_container {

  background-color: $bg_color_4;
  padding: 5px 0 5px 0;
  border-top: 1px solid $border_color_1;
  border-bottom: 2px solid $border_color_1;

  .copyright {

    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color_5;
    font-size: 14px;
    font-weight: 400;

    .cp_symbol {
      font-size: 13px;
      color: $color_5;
    }

    a {
      text-decoration: none;
      margin-left: 5px;
      color: $color_5;
      font-size: 14px;
      font-weight: 600;
    }


  }
}


#main_banner {

  width: 100%;
  height: 55%;
  min-height: 350px;
  background: url(../images/main_banner.png) no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: cover;
  position: relative;

  .arrow_icon {
    width: 49px;
    height: 33px;
    background: url(../images/arrow_icon.png) no-repeat;
    display: none;
  }

  .banner_header {
    text-align: center;
    margin-top: 70px;
    .header {
      font-size: 64px;
      color: $color_4;
      font-weight: 400;
      .bold {
        color: $color_3;
        font-weight: 700;
      }
      .usual {
      }
    }
    .delimiter {
      width: 140px;
      height: 6px;
      margin: 10px auto 10px auto;
      background: $bg_color_3;
    }
    .description {
      font-size: 36px;
      font-weight: 400;
      color: $color_4;
      b {
        text-transform: uppercase;
        font-weight: 700;
        color: $color_3;
        margin: 0 10px 0 10px;
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #main_banner {
    .arrow_icon {
      display: block;
      margin: 20px auto 0 auto;
    }
    .banner_header {
      padding: 0 20px 0 20px;
      box-sizing: border-box;
      .header {
        font-size: 36px;
        color: $color_4;
        font-weight: 400;
        .bold {
          color: $color_3;
          font-weight: 700;
        }
        .usual {
        }
      }
      .delimiter {
        width: 140px;
        height: 2px;
        margin: 10px auto 10px auto;
        background: $bg_color_3;
      }
      .description {
        font-size: 20px;
        font-weight: 400;
        color: $color_4;
        b {
          text-transform: uppercase;
          font-weight: 700;
          color: $color_3;
          margin: 0 10px 0 10px;
        }
      }
    }
  }
}

#service {
  position: relative;
  margin-top: -8%;
  margin-bottom: 65px;
  .bottom {
    position: absolute;
    width: 100%;
    bottom: -43px;
    left: 0;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
  }
  .items {
    background: $bg_color_3;
    background-color: $bg_color_3;
    border: 1px solid $border_color_2;
    @include border_radius(10px, 10px, 10px, 10px);
    padding: 30px;
    box-sizing: border-box;
    @extend %clearfix;
    .item {
      width: 33.333333333%;
      float: left;
      text-align: center;
      .image {
        width: 90px;
        margin: 0 auto 20px auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .header {
        font-size: 24px;
        font-weight: 500;
        color: $color_2;
      }
      .delimiter {
        width: 90px;
        height: 4px;
        margin: 7px auto 7px auto;
        background-color: $bg_color_1;
      }
      .description {
        font-size: 18px;
        font-weight: 400;
        color: $color_6;
      }
      .button_2 {
        margin: 10px auto 10px auto;
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #service {
    margin-top: 15px;
    margin-bottom: 15px;
    .bottom {
      display: none;
    }
    .items {
      border: 0;
      @include border_radius(0,0,0,0);
      padding: 10px;
      box-sizing: border-box;
      .item {
        width: 100%;
        margin-bottom: 80px;
        .image {
          width: 40%;
        }
        .header {

        }
        .delimiter {
          height: 3px;
        }
        .description {
          font-size: 18px;
          font-weight: 400;
        }
        .button_2 {
        }
      }
    }
  }
}

.screen_header {
  padding: 10px 0 10px 0;
  text-align: center;
  .header {
    color: $color_7;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  .description {
    font-size: 18px;
    font-weight: 400;
    color: $color_2;
  }
}


@media screen and (min-width: 240px) and (max-width: 1140px) {
  .screen_header {
    display: none;
  }
}


#advantege {
  .advantages {
    padding: 30px;
    margin-bottom: 30px;
    .items {
      @extend %clearfix;
      .item {
        width: 33.333333333%;
        float: left;
        @extend %clearfix;
        position: relative;
        .image {
          text-align: right;
          width: 65px;
          height: auto;
          top: 5px;
          left: 5px;
          position: absolute;
          img {
            width: 100%;
            height: auto;
          }
        }
        .text {
          padding-left: 80px;
          .header {
            font-size: 24px;
            font-weight: 500;
            color: $color_2;
          }
          .delimiter {
            background-color: $bg_color_1;
            width: 50px;
            height: 2px;
            margin: 5px 0 5px 0;
          }
          .description {
            color: $color_2;
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #advantege {
    display: none;
  }
}


#small_banner {

  width: 100%;
  height: auto;
  background: url(../images/banner.png) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
  .m_image_cnt {
    display: none;
  }
  .image {
    padding: 50px;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
  .header {
    margin-top: 70px;
    font-size: 36px;
    font-weight: 700;
    color: $color_4;
    margin-bottom: 30px;
  }
  .button_3 {
    font-size: 24px;
    font-weight: 300;
    display: table;
    margin: 0 auto;
    b {
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #small_banner {
    background-image: linear-gradient(180deg, rgba(83, 160, 253, 0.8) 0%, rgba(48, 35, 174, 0.8) 100%);
    position: relative;
    .g_row {
    }
    .m_image_cnt {
      display: block;
    }
    .image_cnt {
      position: absolute;
      bottom: 0;
      display: none;
      .image {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        padding: 0 0 50px 0;
      }
    }
    .header {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      padding: 0 20px 0 20px;
    }
    .button_3 {
      margin: 0 auto;
      font-size: 18px;
      width: 225px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
      b {
        display: block;
        margin: 0;
      }
    }
  }
}

#screen_header {

  padding: 40px;
  background-color: $color_8;
  text-align: center;
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  .mobile {
    display: none;
  }
  .header {
    font-size: 36px;
    font-weight: 500;
    color: $color_9;
    margin-bottom: 7px;
  }
  .description {
    font-size: 18px;
    font-weight: 400;
    color: $color_2;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #screen_header {
    padding: 20px;
    border-bottom: 0;
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
    .header {
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .description {
      display: none;
    }
    b {
      margin: 0 5px 0 5px;
      color: $color_1;

    }
  }
}

.product_card {
  border-bottom: 1px solid #bbb;
  padding: 20px 0 20px 0;
  &:last-child {
    border-bottom: 0;
  }
}

#products {
  .product {
    margin-top: 20px;
    margin-bottom: 20px;
    .mobile_title {
      display: none;
    }
    .image_area {
      .image {
        padding: 85px 60px 30px 60px;
        box-sizing: border-box;
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        .header {
          font-size: 20px;
          color: #4a4a4a;
          font-weight: 700;
        }
        ul {
          padding-left: 18px;
          li {
            font-size: 20px;
            color: #6e6d6e;
            font-weight: 300;
            b {
              font-weight: 700;
              margin: 0 5px 0 5px;
            }
          }
        }
      }
    }
    .text_area {
      .title {
        margin-top: 25px;
        font-size: 24px;
        font-weight: 500;
        color: #4a4a4a;
      }
      .materials {
        margin-top: 40px;
        .header {
          font-size: 20px;
          font-weight: 500;
          color: #6e6d6e;
        }
        .items {
          @extend %clearfix;
          .item {
            width: 50%;
            float: left;
            position: relative;
            margin: 7px 0 7px 0;
            height: 50px;
            box-sizing: border-box;
            .image {
              width: 50px;
              height: 50px;
              position: absolute;
              img {
                width: 100%;
                height: auto;
              }
            }
            .text {
              padding-left: 60px;
              font-size: 16px;
              font-weight: 300;
              color: $color_2;
              height: 30px;
              vertical-align: middle;
              line-height: 50px;
            }
          }
        }
      }
      .prices {
        margin-top: 10px;
        @extend %clearfix;
        .header {
          color: $color_2;
          font-size: 20px;
          font-weight: 500;
          float: left;
        }
        .link {
          float: right;
          a {
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            color: $color_2;
            text-decoration: none;
            border-bottom: 1px dashed $color_2;
            vertical-align: top;
          }
          .icon {
          }

        }
      }
      table.mobile {
        display: none;
      }
      table {
        .hide {
          display: none;
        }
        &.additional {
          display: none;
        }
        &.mobile {
          display: none;
        }
        margin-top: 10px;
        overflow: hidden;
        @include border_radius(5px, 5px, 5px, 5px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        width: 100%;
        tr {
          th {
            background-color: #f3f3f9;
            padding: 10px;
            font-size: 18px;
            font-weight: 300;
            color: $color_2;
            border-right: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
          }
          td {
            background-color: $bg_color_3;
            border-right: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            padding: 20px 10px 20px 10px;
            text-align: right;
            .old_price {
              font-size: 14px;
              font-weight: 300;
              color: $color_2;
              text-decoration: line-through;
            }
            .new_price {
              font-size: 24px;
              color: #df4356;
              font-weight: 500;
            }
          }
        }
      }
      .actions {
        margin: 20px 0 0 0;
        .button_4 {
          display: inline-block;
          margin-right: 10px;
          padding: 15px 60px 15px 60px;
        }
        .additional {
          display: inline-block;
          color: #6e6d6e;
          font-weight: 300;
          font-size: 16px;
          float: right;
          position: relative;
          top: 15px;
          b {
            color: $color_1;
            margin: 0 5px 0 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  .product_card {
    padding: 0 0 20px 0;
    &:last-child {
    }
  }
  #products {
    .product {
      .image_area {
        .mobile_title {
          display: block;
          font-size: 20px;
          color: #4a4a4a;
          font-weight: 700;
          margin-left: 20px;
        }
        .image {
          padding: 20px;
          img {

          }
        }
        .text {
          padding: 20px;
          box-sizing: border-box;
          font-size: 18px;
          .header {
            font-size: 20px;
            color: #4a4a4a;
            font-weight: 700;
          }
          ul {
            margin: 5px 0 5px 0;
            li {

              b {

              }
            }
          }
        }
      }
      .text_area {
        .title {
          display: none;
        }
        .materials {
          display: none;
          .header {

          }
          .items {
            @extend %clearfix;
            .item {

              .image {

                img {

                }
              }
              .text {

              }
            }
          }
        }
        .prices {

          .header {
            display: none;
          }
          .link {
            float: initial;
            text-align: center;
            a {
            }
            .icon {
            }

          }
        }
        table.desktop {
          display: none !important;
          tr {
            th {

            }
            td {

              .old_price {

              }
              .new_price {

              }
            }
          }
        }
        .table_mobile_cnt {
          display: block;
          padding: 10px;
          box-sizing: border-box;
        }
        table.mobile {
          padding: 20px;
          display: block !important;
          box-sizing: border-box;
          td {
            text-align: center;
          }
        }
        .actions {
          .button_4 {
            margin: 0 auto;
            display: table;
            float: initial;
            padding: 10px 20px 10px 20px;
          }
          .additional {
            text-align: center;
            float: initial;
            display: block;
            b {

            }
          }
        }
      }
    }
  }
}

#more {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: $color_2;
  padding: 10px 0 10px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dashed $color_1;
    margin-left: 5px;
    color: $color_1;
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #more {
    display: none;
  }
}

#stars_banner {

  width: 100%;
  height: 200px;
  background: url(../images/star_banner.png) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .header {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $color_4;
  }
  .button {
    display: table;
    margin: 0 auto;
    .icon {

    }
  }
  .description {
    display: none;
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #stars_banner {
    .header {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 700;
    }
    .description {
      text-align: center;
      padding: 0 10px 0 10px;
      box-sizing: border-box;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: white;
      margin-top: 10px;
      a {
        color: #f5a623;
        text-decoration: none;
        margin: 0 5px 0 5px;
      }
    }
  }
}

#about {

  width: 100%;
  height: 580px;
  background: url(../images/women.png) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .header {
    margin-top: 95px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 500;
    color: #4a4a4a;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 50px 0 50px 0;
      position: relative;
      .icon {
        position: absolute;
      }
      .text {
        padding-left: 80px;
        font-size: 20px;
        font-weight: 300;
        color: $color_2;
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #about {

    width: 100%;
    height: auto;
    background: none;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    .header {
      font-size: 24px;
      font-weight: 500;
      margin-top: 25px;
    }
    ul {

      li {

        .icon {
          top: -5px;
        }
        .text {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}

#reviews {
  background-color: #f9f7f7;
  padding-bottom: 30px;
  .header {
    padding: 50px 0 50px 0;
    .quote_top_icon {
      position: absolute;
      top: -15px;
      left: -48px;
    }
    .quote_down_icon {
      position: absolute;
      bottom: -37px;
      right: -44px;
    }
    .title {
      position: relative;
      display: table;
      margin: 0 auto;
      font-size: 36px;
      font-weight: 500;
      color: #4a4a4a;
    }
    .description {
      display: table;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 400;
      color: #6e6d6e;
    }
  }
  .items {
    .item {
      padding: 10px;
      box-sizing: border-box;
      width: 50%;
      float: left;
      .cnt {
        margin: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        @include border_radius(5px, 5px, 5px, 5px);
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        .image {
          position: absolute;
          top: 20px;
          left: 30px;
          width: 120px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .content {
          padding-left: 170px;
          padding-bottom: 60px;
          .text {
            font-size: 18px;
            font-style: italic;
            color: $color_2;
          }
          .person {
            position: absolute;
            bottom: 20px;
            right: 20px;
            text-align: right;
            .name {
              font-size: 18px;
              font-weight: 400;
              color: #4a4a4a;
            }
            .about {
              font-size: 14px;
              font-weight: 300;
              color: #6e6d6e;
            }
          }
        }
      }

    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #reviews {
    .header {
      padding: 50px;
      box-sizing: border-box;

      .quote_top_icon {
        top: -25px;
      }
      .quote_down_icon {
      }
      .title {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }
      .description {
        display: none;
      }
    }
    .items {
      .item {
        width: 100%;
        .cnt {
          .image {
            position: static;
            width: 50%;
            margin: 0 auto;
            img {
            }
          }
          .content {
            padding-left: 0;
            padding-bottom: 10px;
            .text {
              padding-bottom: 30px;
            }
            .person {
              .name {
              }
              .about {
              }
            }
          }
        }

      }
    }
  }
}

#contacts {

  .map_block {
    border-right: 1px solid #bbb;
    .header {
      margin-top: 40px;
      text-align: center;
      .title {
        font-size: 24px;
        margin-bottom: 7px;
        font-weight: 500;
        color: #4a4a4a;
      }
      .description {
        font-size: 18px;
        color: #6e6d6e;
        font-weight: 400;
        b {
          color: #f5a623;
          font-weight: 700;
          margin-left: 5px;
        }
      }
    }
    #map {
      margin: 10px 0 10px 0;
      padding: 0 20px 0 20px;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
      }
      iframe {
        border: 0 !important;
        width: 100%;
        height: 200px;
        margin: 10px 0 10px 0;
      }
    }

    .address {
      margin: 10px 0 20px 0;
      font-size: 18px;
      font-weight: 400;
      color: #6e6d6e;
      text-align: center;
    }
  }

  .feedback_form {
    .header {
      margin-top: 40px;
      text-align: center;
      .title {
        font-size: 24px;
        font-weight: 500;
        color: #4a4a4a;
        margin-bottom: 7px;
      }
      .description {
        font-size: 18px;
        color: #6e6d6e;
        font-weight: 400;
        b {
          margin-left: 5px;
          color: #f5a623;
          font-weight: 700;
        }
      }
    }
    .form {
      padding: 0 20px 0 20px;
      box-sizing: border-box;
      form {
        margin-top: 20px;
        .input_field {
          width: 100%;
          margin: 10px 0 10px 0;
          position: relative;
          .placeholder {
            top: 5px;
            left: 10px;
            position: absolute;
            .icon {
              float: left;
            }
            .text {
              float: left;
              font-size: 16px;
              font-weight: 400;
              color: #4a4a4a;
            }
          }
          input[type=text] {
            background-color: #ededed;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            border: 0;
            padding: 5px;
            width: 100%;
          }
        }
        .textarea_field {
          position: relative;
          .placeholder {
            top: 5px;
            left: 10px;
            position: absolute;
            .icon {
              float: left;
            }
            .text {
              float: left;
              font-size: 16px;
              font-weight: 400;
              color: #4a4a4a;
            }
          }
          textarea {
            background-color: #ededed;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 120px;
            border: 0;
            padding: 5px;
            margin-bottom: 10px;
          }
        }
        input[type=submit] {
          border: 0;
          margin: 0 auto;
          padding: 15px 90px 15px 90px;
          display: block;
        }
      }
    }
    .additional {
      margin: 20px 0 20px 0;
      font-size: 18px;
      font-weight: 400;
      color: #6e6d6e;
      text-align: center;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #contacts {
    .additional {
      display: none !important;
    }
    .button {
      padding: 15px 20px 15px 20px !important;
    }
    .map_block {
      border-right: 0;
      border-bottom: 1px solid #979797;
    }
  }
  .no_mobile {
    display: none !important;
  }

}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  .close_cross {
    width: 44px;
    height: 44px;
    background: url(../images/close_cross_icon.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: hand;
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 73, 74, 0.7);
    z-index: -1;
  }
  .popup_cnt {
    width: 500px;
    background-color: $bg_color_3;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
    top: 80px;
  }
}


#matrace_popup {
  display: none;
  .popup_cnt {
    width: 750px;
    padding: 0;
    overflow: hidden;
    .header {
      text-align: center;
      font-size: 36px;
      font-weight: 500;
      color: white;
      padding: 40px;
      background-color: #00adf9;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .description {
      font-size: 18px;
      font-weight: 300;
      color: #6e6d6e;
      padding: 20px 60px 20px 60px;
      text-align: center;
    }
    .delimiter {
      width: 150px;
      height: 3px;
      background-color: #00adf9;
      margin: 0 auto 20px auto;
    }
    .button {
      display: table;
      font-size: 21px;
      font-weight: 700;
      padding: 15px 100px 15px 100px;
      margin: 10px auto 70px auto;
      border: 0;
    }
    .text_field {
      text-align: center;
      margin: 20px 0 20px 0;
      position: relative;
      .placeholder {
        color: #9b9b9b;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        top: 10px;
        left: 190px;
        .icon {
          top: 2px;
        }
      }
      input[type=text] {
        color: #9b9b9b;
        font-size: 18px;
        font-weight: 400;
        width: 400px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        border: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#obj_popup {
  display: none;
  .popup_cnt {
    width: 750px;
    padding: 0;
    overflow: hidden;
    .header {
      text-align: center;
      font-size: 36px;
      font-weight: 500;
      color: white;
      padding: 40px;
      background-color: #00adf9;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .description {
      font-size: 24px;
      font-weight: 300;
      color: #6e6d6e;
      padding: 100px 60px 100px 60px;
      text-align: center;
    }
    .button {
      display: table;
      font-size: 21px;
      font-weight: 700;
      padding: 15px 100px 15px 100px;
      margin: 10px auto 70px auto;
    }
  }
}

#dotaz_popup {
  display: none;
  .popup_cnt {
    width: 750px;
    height: 350px;
    position: relative;
  }
  .image {
    width: 138px;
    height: 292px;
    position: absolute;
    bottom: 0;
    left: 40px;
  }
  .text {
    padding-left: 190px;
    margin-top: 30px;
    box-sizing: border-box;
    .title {
      font-size: 36px;
      font-weight: 500;
      height: 42px;
      margin-bottom: 7px;
      color: #00adf9;
    }
    .description {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 3px;
      color: #6e6d6e;
    }
    form {
      margin-top: 15px;
      @extend %clearfix;
      position: relative;
      .placeholder {
        position: absolute;
        top: 2px;
        left: 9px;
        font-size: 18px;
        font-weight: 400;
        color: #9b9b9b;
        .icon {
          top: 6px;
        }
      }
      input[type=text] {
        width: 65%;
        float: left;
        background-color: #ededed;
        @include border_radius(10px, 0, 0, 10px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        border: 0;
        padding: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #9b9b9b;
      }
      input[type=submit] {
        padding: 10px;
        width: 35%;
        float: left;
        background-color: #f5a623;
        @include border_radius(0, 10px, 10px, 0);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        border: 0;
        font-size: 18px;
        font-weight: 500;
        color: white;
      }
    }
  }
}

.select_field {
  position: relative;
  .fake_select_box {
    position: relative;
    cursor: hand;
    color: #9b9b9b;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    width: 400px;
    padding: 10px 10px 10px 15px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    .icon {
      position: relative;
      top: 4px;
      float: left;
    }
    .label {
      font-size: 18px;
      font-weight: 400;
    }
    .arrow_submit {
      position: absolute;
      top: 17px;
      right: 10px;
    }
  }
  ul.items {
    display: none;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;
    top: 34px;
    position: absolute;
    z-index: 100;
    li {
      cursor: hand;
      padding: 5px 5px 5px 15px;
      border: 1px solid $border_color_1;
      border-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      color: $color_6;
      background-color: $bg_color_3;
      z-index: 100;
      width: 388px;
      margin: 0 auto;
      &:last-child {
        border-bottom: 1px solid $border_color_1;
      }
    }
  }
  select {
    display: none;
    width: 100%;
    padding: 5px;
    color: #6e6d6e;
    font-size: 13px;
    box-sizing: border-box;
    border: 2px solid $border_color_1;
    @include border_radius(3px, 3px, 3px, 3px);
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  .popup_cnt {
    width: 100% !important;
    top: 0 !important;
    .close_cross {
      width: 28px;
      height: 28px;
      background-size: cover;
    }
  }

  #matrace_popup {
    .header {
      padding: 15px !important;
      font-size: 26px !important;
    }
  }
  #matrace_popup .popup_cnt .text_field .placeholder {
    left: 15px;
  }
  #matrace_popup .popup_cnt .text_field input[type=text] {
    width: 100% !important;
  }
  form {
    padding: 0;
    box-sizing: border-box;
  }
  .select_field .fake_select_box {
    width: 100%;
  }

  #matrace_popup .popup_cnt .description {
    padding: 20px;
  }

  #obj_popup {
    .header {
      padding: 15px !important;
      font-size: 26px !important;
    }
    .description {
      font-size: 20px !important;
      padding: 20px !important;
    }
  }

  #dotaz_popup .popup_cnt input[type=submit] {
    font-size: 11px !important;
    height: 41px !important;
  }

  #dotaz_popup {
    .popup_cnt {
      padding: 20px !important;
    }
    .image {
      display: none;
    }
    .text {
      padding-left: 0;
      .title {
        font-size: 24px !important;
      }
      .description {
        font-size: 18px;
      }
    }
  }


  #dotaz_popup .popup_cnt {
    height: auto !important;
  }

}